
:root{
    --gris-l: hsl(210, 14%, 58%);
    --gris-d: hsl(210, 14%, 40%);
    --yellow-l: hsl(51, 80%, 62%);
    --yellow-d: goldenrod;
    --blue-l: skyblue;
    --blue-d: hsl(197, 81%, 43%);
    --red-l: hsl(355, 60%, 47%);
    --red-d: hsl(355, 70%, 37%);
    --orange-l: hsl(19, 100%, 56%);
    --orange-d: hsl(19, 100%, 43%);
    --green-l: hsl(120, 63%, 60%);
    --green-d: hsl(120, 63%, 40%);

    --gris-dl   : hsl(210, 14%, 38%);
    --gris-dd   : #333;
    --yelow-dl  : goldenrod;
    --yelow-dd  : darkgoldenrod;
    --blue-dl   : hsl(219, 70%, 36%);
    --blue-dd   : hsl(219, 85%, 20%);
    --red-dl    : hsl(0, 80%, 33%); 
    --red-dd    : hsl(0, 80%, 14%); 
    --orange-dl : hsl(28, 80%, 42%); 
    --orange-dd : hsl(28, 80%, 28%); 
}

*{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--gris-l);
    min-height: 100vh;
}
.container{
    background: var(--gris-l);

    /* LAYOUT */
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    'header'
    'medio'
    'footer'
    ;
    /* DIMENSIONES */
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}
/* /////////// AREAS ///////////// */
    .b-header{    grid-area: header;}
    .b-wrapped{   grid-area: medio;}
    .b-footer{    grid-area: footer;}
/* _______________________________ */
.b-header, .b-footer{
    display: grid;
    place-items: center;
    background-color: var(--blue-l);
    font-size: 2rem;
    color: black;
}
.b-wrapped{
    display: grid;
    grid-template-columns: 150px 1fr;
}
.b-leftsb{    height: 80vh; grid-column: 1 / 2;}
.b-content{   height: 80vh; grid-column: 2 / 3;}
/* .leftsb, .content{  border: 1px solid red;} */
/* ___________________________________________ */

/* ESTILOS */
.b-leftsb{
    background: var(--yellow-l);
}
.b-content{
    background: linear-gradient(90deg, darkgoldenrod, crimson, blueviolet );
    background-size: 400% 400%;
    animation: bg-animado 6s alternate infinite linear;
    display: grid;
    place-items: center;
}
@keyframes bg-animado{
    0%{     background-position: 0 50%;}
    50%{    background-position: 100% 50%;}
    100%{   background-position: 0 50%;}
}
/* ///////////////// MENU CIRCULAR ///////////////// */
/* para darle animciones se le agrega con js una clase de quita y pon (ex: ".active") */
.menu-circle{
    /* background-color: darkslateblue; */
    /* POSITION */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* DIMENSIONES */
    width: 200px;
    height: 200px;
}
/* BOTON GRANDE CENTRAL "toggle"*/
.menu-circle__toggle{
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    display: grid;
    place-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1.25s;
    box-sizing: 0 3px 4px rgba(0,0,0,0.15);
    font-size: 2rem;
}
.menu-circle__toggle ion-icon{   font-size: inherit;}
.menu-circle.active .menu-circle__toggle{
    transform: rotate(315deg);
}
/*  BOTONES DESPLEGABLES "item"*/
.menu-circle__item{
    list-style: none;   
    transition-duration: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    /* POSITION */
    transform-origin: 100px;
    position: absolute;
    transform: rotate(0deg) translateX(80px);
    left: 0;
}
.menu-circle.active .menu-circle__item{
transform: rotate(calc(360deg / 6 * var(--i)));
}
.menu-circle__item a{
    color: black;
    background: #fff;
    /* rotando los iconos a la inversa para que no se queden torcidos cuando giran para posicionarse */
    transform: rotate(calc(360deg / -6 * var(--i)));
    /* POSITION */
    display: flex;
    justify-content: center;
    align-items: center;
    /* DIMENSIONES */
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.menu-circle__item a:hover{
    color: red;
}

/* _________________________________________________ */